.div-contact-master {

    .div-contact {
        display: flex;
        padding: 1%;
        padding-top: 0.5%;
        background-color: white;

        .link {
            border: none;
            text-decoration: none;
            color: black;
            transition: 0.5s;
            cursor: pointer;
        }

    }
}