.div-navbar-master {

    .div-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        top: 0;
        background-color: #a36483;
        //position: fixed;
        max-height: 100px;

        .div-logo {
            img {
                width: 100px;
                height: 100px;
                margin-left: 40%;
            }
        }

        .div-navigation {
            display: flex;
            margin-top: auto;
            margin-bottom: auto;
            left: 100%;

            .button {
                border: none;
                background-color: var(--background-navbar);
                text-decoration: none;
                color: white;
                font-size: 18px;
                font-weight: 600;
                transition: 0.5s;
                cursor: pointer;
                
                p {
                    color: white;
                    &:hover {
                        border-bottom: solid 2px white;
                    }
                }
            }
        }
    }
}