.div-footer-master {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b26984;
    color: #ffffff;

    .div-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .div-logo {
            img {
                height: 60px;
                width: 60px;
            }
        } 
    }
}