.div-banner-master {
    margin-top: 80px;

    .div-banner {
        display: flex;
        flex-direction: row;
        padding: 1%;
        padding-bottom: 0.5%;
        background-color: white;

        .div-img-banner {
            border-top: solid #a36483 2px;
            border-left: solid #a36483 2px;
            border-bottom: solid #a36483 2px;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            background-color: #ffdcfe;

            #img1 {
                width: 20%;
                height: 20%;
            }

            #img2 {
                width: 200px;
                height: 200px;
            }

            #img3 {
                width: 98.5%;
                margin: 4px 4px 4px 4px;
                border-radius: 8px;
            }
        }

        .div-text {
            border-top: solid #a36483 2px;
            border-right: solid #a36483 2px;
            border-bottom: solid #a36483 2px;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            display: flex;
            width: 50%;
            background-color: #ffdcfe;
            display: flex;
            flex-direction: column;

            h1 {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}